extends navbar_footer.pug

block content
    .wrapper-all
        .bg_image 
            .container 
                .home 
                    h3 This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
                    .buttons 
                        a(href="/notes").more read more 
                        a(href="add_notes").add-button add new one 